body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:601px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:601px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:292px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:360px;
  height:552px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
