body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u393_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:658px;
}
#u393 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:360px;
  height:658px;
}
#u394 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:321px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u395 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:20px;
  width:119px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u396 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:53px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u397_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u397 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:20px;
}
#u398 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
