body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u285_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:656px;
}
#u285 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:656px;
}
#u286 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:320px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u287 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:175px;
  height:45px;
  overflow:hidden;
}
#u287_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:45px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u287_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u288 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
