body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:557px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:557px;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:270px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:577px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:577px;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:280px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:577px;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:577px;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:280px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:119px;
  width:57px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u198 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:119px;
  width:56px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u199 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:119px;
  width:54px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u200 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:223px;
  width:54px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u201 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:334px;
  width:60px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u202 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:72px;
  width:75px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u203 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:72px;
  width:75px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
