body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u352_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:720px;
}
#u352 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-18px;
  width:360px;
  height:720px;
}
#u353 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:352px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u354 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:1px;
  width:100px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
