body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:657px;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:657px;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:320px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:335px;
  width:71px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u183 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:673px;
  width:71px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:34px;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:297px;
  width:301px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:297px;
  word-wrap:break-word;
}
#u186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:230px;
  width:307px;
  height:40px;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:238px;
  width:291px;
  height:22px;
}
#u188_input {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
