body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:357px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:600px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:600px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:292px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:288px;
  width:117px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u89 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:290px;
  width:112px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u90 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:206px;
  width:360px;
  height:82px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
