body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:600px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:600px;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:292px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:223px;
  width:307px;
  height:40px;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:261px;
  width:307px;
  height:40px;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:231px;
  width:291px;
  height:22px;
}
#u126_input {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:267px;
  width:291px;
  height:28px;
}
#u127_input {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:370px;
  width:100px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u129 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:370px;
  width:119px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:34px;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:326px;
  width:301px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:297px;
  word-wrap:break-word;
}
