body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:601px;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:601px;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:292px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:50px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u213 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:0px;
  width:111px;
  height:178px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u214 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:523px;
  width:360px;
  height:78px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u215 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:178px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
