body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:751px;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:360px;
  height:751px;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:368px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:42px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:20px;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:20px;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
