body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:616px;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:360px;
  height:616px;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:300px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:48px;
  height:52px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:20px;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:20px;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
