body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u304_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:600px;
}
#u304 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:600px;
}
#u305 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:292px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u306 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:291px;
  width:118px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u307 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:291px;
  width:118px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u308 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:204px;
  width:176px;
  height:82px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u309 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:204px;
  width:176px;
  height:82px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
